.basket3 {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    .bt {
      width: 370px;
      height: 80px;
      border-radius: 20px;
      background-color: #274c5b;
      font-weight: bold;
      color: white;
      font-size: 25px;
    }
    button {
      width: 310px;
      height: 80px;
      background-color: #eff6f1;
      border-radius: 10px;
      color: #274c5b;
      font-size: 25px;
      font-weight: bold;
    }
  }
  p {
    margin-top: -90px;
    font-size: 18px;
    text-align: center;
  }
}
